* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

nav > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
}

header > input {
  padding: 10px 20px;
}

footer {
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
}

main {
  margin-top: 40px;
}

h1 {
  margin-bottom: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

nav {
  display: flex;
  gap: 40px;
}

.shop {
  display: flex;
  gap: 40px;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card figcaption {
  font-weight: bold;
}

footer {
  margin-top: 60px;
  text-align: center;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}


